  <div class="row">
    <div class="col-lg-9">
      <h1 class="text-center mt-4">  Articles </h1>
      <%= render 'articles/user'  %>
    </div>
    
    <div class="col-lg-3 sidebar-outer"> 
      <div class="fixed ">
        <h1 class=" text-center mt-4"><%=@user.username %>'s Profile</h1>
        <div class="text-center mt-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="..." alt="[User Photo]">
              <div class="card-body">
                <h5 class="card-title "><%=@user.username%></h5>
                <h5 class="card-title"><%=@user.email%></h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <% if logged_in? && (@user==current_user || @user.admin? ) %>
                  <%=link_to "Edit your profile" , edit_user_path(@user) , class: "btn btn-outline-dark" %>
                <%end%>     
              </div>
          </div>  
        </div>
      </div>
    </div>
</div>