


 


<div class="row">
  <div class="col-10">
      <div class="container  ">
      <% @article.each do |article| %>
        <div class="row justify-content-md-center ">
          <div class="col-10  "id="container_style">
            <div class="card text-center shadow my-5 mx-4 " id="card_body">
              <div class="card-header font-italic " id="card_header">
                <% if article.user %>
                  by <%= link_to article.user.username , user_path(article.user)   %>
                <% end %>
              </div> 
              <div class="card-body rounded "> 
                <div class="img-fluid rounded mx-auto d-block" style=" width:400px ; height:auto">
                  <%= link_to image_tag(article.image , style:"width:100%") , article_path(article) if article.image.attached?%>
                </div>
                
                <h4 class="card-title mt-4"><%= link_to article.tittle , article_path(article) , class:"font-weight-bold text-dark text-capitalize" %></h4>
                
                <p class="card-text"><%= truncate(article.description,length:50 ) %></p> 
                  <%= link_to 'View' , article_path(article) , class:"btn-sm btn-dark"  %>
                  <%if logged_in? && (article.user==current_user || current_user.admin? ) %>
                    <%= link_to 'Edit' , edit_article_path(article) , class:"btn-sm btn-dark" %>  
                    <%= link_to 'Delete' , article_path(article.id) ,  method: :delete , data: {confirm:"Are you sure ?"} , class:"btn-sm btn-dark" %> 
                  <%end%>  
              </div>
              <div class="card-footer text-muted">
                  <div class="my-2"> 
                    <% if article.categories.any?%> 
                      Tags : 
                        <%= render article.categories %> 
                    <%end%> 
                  </div> 
                <small>Created <%=time_ago_in_words(article.created_at)%> ago  , Edited <%=time_ago_in_words(article.updated_at)%> ago </small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  
  </div>
  
  
  <div class="col-2">    
      <div class="container mt-4">
      <div class="col-10 ">
      <% @categories.each do |category| %>
      <ul class="list-group">
        <li class="list-group-item"><div class="card-body">
              <p class="card-title  "><%= link_to category.name , category_path(category) , class:"font-weight-bold text-info text-capitalize" %>(<%= pluralize( category.articles.count, "" )%>)</p>
                
            </div> </li> 
      </ul>
        <% end %>
         
    </div>
  </div>
</div>