 
  <h1 class="text-center mt-4"> <%= @article.tittle %> </h1>

  <div class="container  "> 
      <div class="row justify-content-md-center ">
        <div class="col-8  mt-4">
          <div class="card text-center shadow-lg mb-4 bg-white rounded"> 
            <div class="card-header">
            </div>
            <div class="card-body"> 
              <p class="card-text text-left"><%=  @article.description  %></p> 
              <p>  <%= image_tag(@article.image) %>  </p>
              


              <div class="mt-4">
                <% if logged_in? && (@article.user==current_user || current_user.admin?) %>
                  <%= link_to 'Delete' , article_path(@article) ,  method: :delete , data: {confirm:"Are you sure ?"} , class:"btn-sm btn-dark" %> 
                  <%= link_to 'Edit' , edit_article_path(@article) , class:"btn-sm btn-dark" %>   
                <% end %>
              </div>
            </div>
            <div class="card-footer text-muted">
                <div>  
                  <% if @article.categories.any?%>
                   Tags : 
                      <%= render @article.categories %> 
                  <%end%> 
                 </div> 
              <small>Created <%=time_ago_in_words(@article.created_at)%> ago  , Edited <%=time_ago_in_words(@article.created_at)%> ago </small>
              <div class=" font-italic">
                by <%= @article.user.username if @article.user%>
              </div>
              <section class="section comments">  
                <div class="container">
                  <h2 class="subtitle is-5"><strong><%=@article.comments.count%> Comments</strong></h2>
                    
                    <%= render @article.comments %> 
                  <div class="comment-form">
                  <hr />
                  <%if logged_in?%>
                    <h4 class="subtitle is-3"> Leave a Comment </h4>
                  <% else %>
                    <h4 class="subtitle is-3"> Log in or Signup to write something </h4>
                  <%end%>
                  <%=render 'comments/form'%>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div> 
  </div>
 