 <div class="container" > 
      <div class="row justify-content-md-center rounded" >
        <div class="col-10 mb-5 bg-transparent "  >
          <div class="card text-center shadow-lg mb-5" id="card_body_show">  
            <div class="card-body" >   
               <div class="img-fluid rounded mx-auto d-block my-5  border border-dark" style=" width:800px ; height:auto">
                <%= image_tag(@article.image , style:"width:100%") if @article.image.attached?%> 
               </div> 
              <h1 class="text-center my-2 "> <%= @article.tittle.capitalize %> </h1>
              <div id="article_description">
                <p class="card-text text-left mt-2" ><%=  @article.description  %></p> 
                  <% if logged_in? && (@article.user==current_user || current_user.admin?) %>
                    <%= link_to 'Delete' , article_path(@article) ,  method: :delete , data: {confirm:"Are you sure ?"} , class:"btn-sm btn-dark" %> 
                    <%= link_to 'Edit' , edit_article_path(@article) , class:"btn-sm btn-dark" %>   
                  <% end %>
                </div>
              <div class="mt-4">
                  <span id="like_and_share">
                    <div class="container mt-2">
                      <%if logged_in?%>
                        <% pre_like = @article.likes.find { |like| like.user_id == current_user.id} %>
                          <% if pre_like %>
                            <%= button_to 'Unlike', article_like_path(@article, pre_like),class:"btn btn-danger btn-sm", method: :delete %>
                          <% else %>
                            <%= button_to 'Like', article_likes_path(@article),class:"btn btn-primary btn-sm", method: :post  %>
                          <% end %> 
                      <%end%>
                    </div>
                  </span>
              </div>
            </div>
            <div class="card-footer text-muted">
            <h5 class="subtitle  "><strong><%=@article.comments.count%> <%= (@article.comments.count) == 1 ? 'Comment' : 'Comments'%> | <%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></strong></h5>
                 
                <div>
                <hr/>  
                  <% if @article.categories.any?%>
                   Tags : 
                      <%= render @article.categories %> 
                  <%end%> 
                 </div> 
              <small>Created <%=time_ago_in_words(@article.created_at)%> ago  , Edited <%=time_ago_in_words(@article.created_at)%> ago </small>
              <div class=" font-italic">
                by <%= @article.user.username if @article.user%>
              </div>
              <section class="section comments">  
                 
                  
                   
                    <%= render @article.comments %> 
                  <div class="comment-form"> 
                  
                    <hr />
                  <%if logged_in?%>
                    <h4 class="subtitle is-3"> Leave a Comment </h4> 
                    
                  <% else %>
                    <h4 class="subtitle is-3"> Log in or Signup to write something </h4> 
                  <%end%>
                  <div class="pb-5">
                  <%=render 'comments/form'%>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div> 
  </div>
 