<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <%= comment.name %>
        <%= comment.comment%>
        </p>
      </div>
    </div>
    <%= link_to 'Delete' , [comment.article, comment] , method: :delete , class: "button is-danger", data:{confirm: "Are you sure ?"}%>
  </article>
</div>


<div class="card">
  <div class="card-header">
   <p> <%= comment.name.capitalize %>   <span><%= time_ago_in_words(comment.created_at) %></span></p>
  </div>
  <div class="card-body"> 
      
      <div class="container ml-3">
      <blockquote class="blockquote text-left mb-0">
      <span class="lead"><%= comment.comment%> </span>
    </blockquote>
    </div>
  </div>
</div>

