<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <%= comment.name %>
        <%= comment.comment%>
        </p>
      </div>
    </div>
    <%= link_to 'Delete' , [comment.article, comment] , method: :delete , class: "button is-danger", data:{confirm: "Are you sure ?"}%>
  </article>
</div>


<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote text-left mb-0">
      <p><%= comment.name.capitalize %> : </p>
      <span class="blockquote-footer"><%= comment.comment%> <cite title="Source Title"><%=comment.created_at%></cite></span>
    </blockquote>
  </div>
</div>

